[submodule "modules/caries_detection"]
	path = modules/caries_detection
	url = https://github.com/HyunchanAn/Caries_Detection_from_Panoramic.git
[submodule "modules/bone_loss"]
	path = modules/bone_loss
	url = https://github.com/HyunchanAn/Pano_BoneLoss_Measurement.git
