[submodule "modules/Dental_002"]
	path = modules/Dental_002
	url = https://github.com/HyunchanAn/Dental_002.git
[submodule "modules/Dental_003"]
	path = modules/Dental_003
	url = https://github.com/HyunchanAn/Dental_003.git
