streamlit
opencv-python-headless
onnxruntime-gpu==1.19.2
huggingface_hub
torch
torchvision
ultralytics
git+https://github.com/HyunchanAn/Dental_Core.git@master
-e ./modules/Dental_002
-e ./modules/Dental_003
